<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
        <testsuite name="feature">
            <directory>./tests/Feature</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
      <const name="APP_TEST_MODE" value="true"/>
      <const name="PAYMENT_SERVICE" value="https://ya.ru"/>
      <const name="PAYMENT_SERVICE_ACCOUNT_ID" value="test"/>
      <const name="PAYMENT_SERVICE_ACCOUNT_SECRET" value="test"/>
    </php>
</phpunit>
